genSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="powerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="x" type="xs:positiveInteger"/>
        <xs:element name="power" type="xs:positiveInteger"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

